/.vscode
/all_datasets
/scripts/runs
/venv_yolo
/yolo_models
/other
/ros2_ws/build
/ros2_ws/install
/ros2_ws/log
/ros2_ws/src/build
/ros2_ws/src/install
/ros2_ws/src/log
ros2_ws/src/robotic_hand_ros/hand_nodes/models/best.pt
ros2_ws/src/robotic_hand_ros/hand_nodes/models/bestFP32.engine
ros2_ws/src/robotic_hand_ros/hand_nodes/models/bestFP16.engine
scripts/yolo26m-pose.pt
scripts/yolo26n.pt
scripts/augmentations.py
scripts/fix_labels_normalization.py
